body {
    margin: 0;
}

.main{
    display: flex;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tools{
    width: 40%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 100px;
    padding-left: 10%;
}

.btngroup button{
    width: 150px;
    height: 60px;
    margin-bottom: 15px;
    background-color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-width: 0px;
    border-radius: 10px;
    margin: 0px;
}

.tools input{
    width: 300px;
    /* height: 20px; */
    font-size: 25px;
}

.btngroup{
    display: flex;
    margin-bottom: 20px;
}

.btngroup button{
    margin-right: 20px;
    border-width: 1px;
}

li{
    list-style-type: none;
}

#map {
    /* margin-top: 50px; */
    width: 550px; 
    height: 550px;
    margin-top: 60px;
    margin-left: 0px;
}

.reset{
    background-color: #FF6865;
}

.add{
    background-color: white;
    font-size: 20px;
    /* width: 0px; */
    height: 40px;
    margin-left: 10px;
    border: 1px;
    border-radius: 10px;
}

.add:hover{
    transition: 0.2s;
    border-width: 2px;
    background-color: lightgreen;
}

.test{
    background-color: lightblue;
}

.draw{
    background-color: lightblue;
}

button:hover{
    transition: 0.2s;
    border-width: 2px;
}


